/*
* ---------------------------------------------------------------------------------------------------------------------------------
* 	
*	Web URL	          : http://trytechzone.com
*	Year		      : 2019 - 2020
*	Developer	      : Rohit
*   contact dev       : rohitwebco@gmail.com
*   Dev-web           : rohitwebco.com
*	Style		      : scss --> CSS-3
*
* ---------------------------------------------------------------------------------------------------------------------------------*/
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(8rem); }
  50% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none; }

html {
  /* below ie 9 rem wont work */
  /* font-size: 10px; */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.body__wrap {
  position: relative; }

.body__container {
  background-color: #f7f7f7;
  padding: 10rem 0; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.nav__link {
  font-size: 1.7rem;
  line-height: 2;
  color: #464646;
  font-weight: 500;
  color: #464646;
  letter-spacing: 0.5px; }

.social__link {
  font-size: 1.7rem;
  line-height: 2;
  color: #464646;
  font-weight: 500; }

.u-center-text {
  text-align: center !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-mediun {
  margin-top: 4rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-padding-bottom-big {
  padding-bottom: 8rem; }

.u-padding-bottom-medium {
  padding-bottom: 4rem; }

.u-padding-bottom-small {
  padding-bottom: 1.5rem; }

@media (min-width: 769px) {
  aside {
    width: 30%; } }

@media (min-width: 769px) {
  .section__article {
    display: flex;
    flex-wrap: wrap; } }

.section__article-block {
  margin-bottom: 50px; }
  .section__article-block:hover .article__image {
    transform: scale(1.03); }
  .section__article-block:nth-child(3n + 0) {
    width: 100%; }
  .section__article-block:nth-child(3n + 1) {
    width: 48%;
    margin-right: 4%; }
    .section__article-block:nth-child(3n + 1) .article__image {
      height: 22rem; }
  .section__article-block:nth-child(3n + 2) {
    width: 48%; }
    .section__article-block:nth-child(3n + 2) .article__image {
      height: 22rem; }

.article__header {
  margin-bottom: 2.5rem; }

.article__figure {
  margin-bottom: 2.5rem; }

.article__image {
  width: 100%;
  transition: all 350ms ease-in-out; }

.article__information li {
  display: inline; }
  .article__information li + li {
    margin-left: 2rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.body__header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eee; }
  .body__header header {
    margin: auto; }
    @media (min-width: 769px) {
      .body__header header {
        width: 80%; } }
    @media (min-width: 582px) and (max-width: 768px) {
      .body__header header {
        width: 90%; } }
    @media screen and (max-width: 581px) {
      .body__header header {
        width: 94%; } }

@media (max-width: 768px) {
  .header__brand {
    position: absolute;
    top: 1.7rem;
    width: 100%;
    padding-left: 1rem;
    padding-bottom: 1.3rem; } }

@media (min-width: 769px) {
  .header__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 0; } }

@media (max-width: 768px) {
  .header__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 6rem; } }

.header__nav {
  text-align: center; }
  @media (max-width: 768px) {
    .header__nav {
      display: none;
      margin-top: 6rem;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      padding: 1rem 0; } }
  @media (min-width: 769px) {
    .header__nav ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start; } }

@media (max-width: 768px) {
  .header__social {
    display: none;
    padding: 1rem 0; } }

.header__social ul {
  display: flex;
  flex-direction: row;
  justify-content: center; }

@media (min-width: 769px) {
  .nav__list + li {
    margin-left: 30px; } }

@media screen and (max-width: 768px) {
  .nav__link {
    display: block; } }

.social__list + li {
  margin-left: 20px; }

.hamberger__line {
  width: 2.5rem;
  height: 0.2rem;
  background-color: #000;
  display: block;
  margin: 0.5rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

@media (min-width: 769px) {
  .hamberger {
    display: none; } }

@media (max-width: 768px) {
  .hamberger {
    padding-right: 1rem;
    position: absolute;
    top: 1.7rem;
    right: 4%;
    z-index: 99; } }

.hamberger.is__active .hamberger__line {
  margin: 0 auto 11px; }

.hamberger.is__active .hamberger__line:nth-child(2) {
  opacity: 0; }

.hamberger.is__active .hamberger__line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg); }

.hamberger.is__active .hamberger__line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg); }

@media (min-width: 769px) {
  .home__page {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; } }

@media (min-width: 769px) {
  .home__page main {
    width: 67%; } }
